/* General */
html {
  margin: 0;
  /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

body {
  background: white;
}

a {
  color: #000000;
}

a:hover {
  color: #ff2222;
}

a#anchor {
  color: #000000;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  margin: 0.67em 0px;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 0.83em 0px;
}

h3 {
  font-size: large;
  font-weight: bold;
  margin: 1.0em 0px;
}

input,select,textarea {
  background: white;
  border-width: 1px;
  border-style: dotted;
  border-color: #000000;
  color: black;
}

hr {
  border-width: 2px 0px 0px 0px;
  border-style: dotted;
  border-color: #000000;
}

table {
  background: #white;
  border-width: 2px;
  border-style: dotted;
  border-color: #000000;
  border-collapse: collapse;
  margin: 5px;
}

th {
  background: #000000;
  border-width: 2px;
  border-style: dotted;
  border-color: white;
  color: white;
}

td {
  background: white;
  border-width: 2px;
  border-style: dotted;
  border-color: #000000;
}

/* それぞれ */
.spinner {
  padding: 5px;
  position: absolute;
  right: 0;
}

div#main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: #000000 dotted 2px;
}

div#content {
  padding-left: 1em;
  padding-right: 1em;
}

div#header {
  background-color: #ffffff;
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
}

div#menubar {
  padding: 5px;
  font-size: small;
  border-top: 2px dotted #000000;
}

div#footer {
  clear: both;
  padding: 5px;
  border-top: #000000 dotted 2px;
}

div.module {
  border: 2px dotted #000000;
  margin-bottom: 5px;
}

div.module-header {
  padding: 2px;
}

div.module-content {
  border-top: #000000 dotted 2px;
  padding: 2px;
}

/*ファイルアップロード*/
table.form,tr.prop,td.name,td.value {
  border: none;
}

/* MESSAGES AND ERRORS */
.message {
  background-color: #f3f8fc;
  border: 1px solid #b2d1ff;
  color: #006dba;
  margin: 10px 0 5px 0;
  padding: 5px 5px 5px 30px
}

div.errors {
  background: #fff3f3;
  border: 1px solid red;
  color: #cc0000;
  margin: 10px 0 5px 0;
  padding: 5px 0 5px 0;
}

div.errors ul {
  list-style: none;
  padding: 0;
}

div.errors li {
  background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
  line-height: 16px;
  padding-left: 30px;
}

td.errors select {
  border: 1px solid red;
}

td.errors input {
  border: 1px solid red;
}

/* Photo */
img.face_image {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.pos_wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

div.pos_selector {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  z-index: 1000;
  cursor: move;
}

div.pos_meter {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  background-color: silver;
  position: absolute;
}

select.document_size_list {
  width: 120px;
}

input.photo_size {
  width: 80px;
}

@media screen and (max-width: 801px) {
  div#main {
    width: 100%;
    margin: 0px;
    border: none;
  }
  div#content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
