{{define "body"}}
<h2>画像をぴったりサイズで印刷しよう</h2>
<p>画像を好きなサイズ（〇cm × 〇cm）に合わせてPDFにできるサービスです。</p>
<p>コンビニや学校のプリンタでもそのまま印刷できるので、DIYの型紙づくりや推し活のデコレーションにもぴったり。</p>
<form method='post' action='./upload' enctype="multipart/form-data">
	<table id='info'>
		<tr>
			<td>画像（10MBまで）</td>
			<td><input type='file' name='image' /></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">画像サイズ</td>
			<td>横<input type="number" name='imageWidth' size='5' step="0.01" />cm x 縦<input type="number" name='imageHeight' size='5' step="0.01" />cm<br>＊小数点も使えます</td>
		</tr>
		<tr>
			<td>用紙サイズ</td>
			<td>
				<select name="paper">
				<option value="A1">A1</option>
				<option value="A2">A2</option>
				<option value="A3">A3</option>
				<option value="A4" selected="selected">A4</option>
				<option value="A5">A5</option>
				<option value="A6">A6</option>
				<option value="B1">B1</option>
				<option value="B2">B2</option>
				<option value="B3">B3</option>
				<option value="B4">B4</option>
				<option value="B5">B5</option>
				<option value="B6">B6</option>
				<option value="L">L版</option>
				<option value="2L">2L版</option>
				<option value="KG">KG版</option>
				</select>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type='submit' value='作成' /></td>
		</tr>
	</table>
</form>
<p>※印刷するときは「拡大縮小なし」「実際のサイズ」「等倍」などを選んでください。</p>

<h2>セブンイレブンで印刷するには</h2>
<p>生成されたPDFは<a href="http://www.printing.ne.jp/">セブンイレブンのネットプリント</a>に対応しています（2014年2月現在）。他のコンビニでも対応しているかもしれませんが、わかりません。</p>
<p>ダウンロードしたPDFを登録してお店で印刷すると、指定したサイズで画像を印刷できます。「原寸出力」を必ず選んで下さい。</p>

<h2>免責</h2>
このサービスは無保証・無サポートです。このサービスを使って生じた不利益に対して責任を負いません。

<hr>
<hr>

<h2>ソースコード</h2>
<p>ソースコードは<a href="https://code.ledyba.org/ledyba/Pittari">こちらで公開しています</a>。</p>

<h3>GitRev</h3>
<pre>{{.GitRev}}</pre>

<h3>BuildAt</h3>
<pre>{{.BuildAt}}</pre>

{{end}}
