{{define "base"}}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  {{if eq .Title ""}}
  <title>ぴったり印刷くん</title>
  {{else}}
  <title>{{.Title}} - ぴったり印刷くん</title>
  {{end}}
  <link rel="stylesheet" href="./static/css/main.css" />
  {{template "head" .}}
</head>
<body>
  <div id="main">
    <div id="content">
      <h1><a class="title" href="./">ぴったり印刷くん</a></h1>
      {{template "body" .}}
    </div>
  <div id="footer">(C)2014-{{.Year}} <a href="https://7io.org/">ψ（プサイ）の興味関心空間</a> / 妖精とロケット</div>
  </div>
</body>
</html>
{{end}}
{{define "head"}}
{{end}}
